
.icon-mail:before { content: '\e801'; } /* '' */
.icon-linkedin:before { content: '\f05c'; } /* '' */
.icon-twitter-1:before { content: '\f309'; } /* '' */
.icon-facebook-1:before { content: '\f30c'; } /* '' */
.icon-instagram-1:before { content: '\f32d'; } /* '' */